.folder {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.folder button {
  font-size: 15px;
  background-color: white;
}

.main {
  display: flex;
  flex-direction: row;
}
input {
  width: 200px;
}
